'.text.html.php':
  'cardinality':
    'prefix': 'cardinality'
    'body': "->set('cardinality', ${1:-1})$0"
  'description':
    'prefix': 'description'
    'body': "->set_instance('description', '${1:description}')$0"
  'required':
    'prefix': 'required'
    'body': "->set_instance('required', ${1:TRUE})$0"
  'set':
    'prefix': 'set'
    'body': "->set('${1:thing}', ${2:'${3:value}'})$0"
  'set_instance':
    'prefix': 'set_instance'
    'body': "->set_instance('${1:thing}', ${2:'${3:value}'})$0"
  'read_instance_for':
    'prefix': 'read_instance'
    'body': "->read_instance_for('${1:node}', '${2:bundle}')$0"
  'create_or_update':
    'prefix': 'create_update'
    'body': "->create_or_update()$0"
  'create_or_update_instance_for':
    'prefix': 'create_update_instance'
    'body': "->create_or_update_instance_for()$0"
