'.text.html.php':
  'cinc':
    'prefix': 'cinc'
    'body': "${1:\$${2:var} = }CINC::init('${3:Thing}')$0"
  'cinc-content-type':
    'prefix': 'ccontenttype'
    'body': '''
      ${1:\$${2:var} = }CINC::init('ContentType')
        ->machine_name('${3:machine_name}')${4:
        ->set('title_label', '${5:Title}')}
        ->create_or_update();
    '''
  'cinc-field':
    'prefix': 'cfield'
    'body': "CINC::init('${1:Field}')->machine_name('${2:machine_name}')$0"
  'cinc-field-link':
    'prefix': 'clinkfield'
    'body': """
      CINC::init('${1:LinkField}')
        ->machine_name('${2:machine_name}')
        ->set_instance('label', '${3:Link}')
        ->set_instance('settings', array(
          'title' => '${4:optional}',
        ))
        ->create_or_update()$0"""
  'cinc-field-text':
    'prefix': 'clongtextfield'
    'body': """
      CINC::init('${1:LongTextField}')
        ->machine_name('${2:machine_name}')
        ->set_instance('label', '${3:Text}')
        ->set_instance('settings', array(
          'text_processing' => 1,
        ))
        ->create_or_update()$0"""
  'cinc-field-textfield':
    'prefix': 'ctextfield'
    'body': """
      CINC::init('${1:TextField}')
        ->machine_name('${2:machine_name}')
        ->set_instance('label', '${3:Text}')
        ->create_or_update()$0"""
  'cinc-field-boolfield':
    'prefix': 'cboolfield'
    'body': """
      CINC::init('${1:BooleanField}')
        ->machine_name('${2:machine_name}')
        ->set_instance('label', '${3:Text}')
        ->create_or_update()$0"""
  'cinc-field-entity-reference':
    'prefix': 'centityref'
    'body': """
    CINC::init('${1:EntityReferenceField}')
      ->machine_name('${2:machine_name}')
      ->set_instance('label', '${3:Entity Reference}')
      ->set('settings.handler_settings', array(
          'target_bundles' => array(

          ),
        )
      )
      ->create_or_update()$0"""
  'cinc-field-imagefield':
    'prefix': 'cimagefield'
    'body': """
      CINC::init('${1:ImageField}')
        ->machine_name('${2:machine_name}')
        ->set_instance('label', '${3:Text}')
        ->create_or_update()$0"""
  'cinc-beantype':
    'prefix': 'cbeantype'
    'body': """
      \$${1:var} = CINC::init('BeanType')->machine_name('${2:machine_name}')->read()
        ->set('label', '${3:label}')
        ->create_or_update();
    """
  'cinc-bean':
    'prefix': 'cbean'
    'body': """
      CINC::init('Bean')->machine_name('${1:machine_name}')
        ->set('type', '${2:bean_type}')
        ->set('label', '${3:label}')
        ->set('title', '${4:title}')
        ->create_or_update();
    """
  'cinc-group':
    'prefix': 'cfieldgroup'
    'body': """
      \$${1:group} = CINC::init('FieldGroup')
        ->machine_name('${2:group_general_info}|${3:node}|${4:bundle}|${5:form}')
        ->set('label', '${6:Label}')
        ->read();
      \$${1:group}->add_fields(array($7))->create_or_update();$0
    """
  'cinc-vocabulary':
    'prefix': 'cvocab'
    'body': """
    CINC::init('TaxonomyVocabulary')
      ->machine_name('${1:machine_name}')
      ->set('name', '${2:Name}')
      ->create_or_update();$0
    """
  'cinc-term-reference':
    'prefix': 'ctermref'
    'body': """
    CINC::init('TermReferenceField')
      ->machine_name('${1:machine_name}')
      ->set('cardinality', -1)
      ->allow_vocab(array('${2:vocab}'))
      ->set_instance('label', '${3:Label}')
      ->create_or_update()
    """
